/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.container {
  display:grid;
  grid-template: 50px 50px/ 50px 50px;
  /* grid-auto-rows:50px; */
  grid-auto-flow:column;
  grid-auto-columns:50px;
  gap:30px;
}

.container > div {
  border:1px solid red;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
